$primaryColor: #D32F2F
    
body
    font-family: "Roboto"
    margin: 0
    padding: 0

header
    h2,p
        text-align: center


nav
    ul
        list-style: none
        li
            a
                text-decoration: none

div#photo
    margin: 1em
    padding: 1em
    text-align: center
    img
        height: 150px
        width: 150px
        border-radius: 100px

main
    div#init
        background: url(../img/fondo.webp)
        background-size: cover
        background-attachment: fixed
        overflow: scroll
        height: 140vh
        width: 100%

    section#aboutMe
        p           
    section#skills
        div#items
            padding: 1em
            margin: 1em
        ul
            list-style: none
        .imagen
            img
                width: 70px
                height: 70px


.item
    a
        text-decoration: none

footer
    text-align: center