/* Estilos generales */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  transition: background 0.3s, color 0.3s;
  /* padding-top: 56px; */
}

.light-mode {
  background-color: #ffffff; /* Fondo claro */
  color: #333; /* Texto oscuro */
}

.dark-mode {
  background-color: #121212; /* Fondo oscuro */
  color: #f5f5f5; /* Texto claro */
}

.uppercase {
  text-transform: uppercase;
}

.pt-12 {
  padding-top: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

/* Navbar */

/* Estilo del navbar en modo claro */
body.light-mode .navbar {
  background-color: #f8f9fa; /* Fondo claro */
  color: #333; /* Texto oscuro */
}

.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

body.light-mode .navbar .navbar-nav .nav-link {
  color: #333; /* Enlaces oscuros */
}

body.light-mode .navbar .navbar-brand {
  color: #333; /* Marca en modo claro */
}

/* Estilo del navbar en modo oscuro */
body.dark-mode .navbar {
  background-color: #343a40; /* Fondo oscuro */
  color: white; /* Texto claro */
}

body.dark-mode .navbar .navbar-nav .nav-link {
  color: #f8f9fa; /* Enlaces claros */
}

body.dark-mode .navbar .navbar-brand {
  color: #f8f9fa; /* Marca en modo oscuro */
}

.navbar-nav .nav-link:hover {
  color: var(--bs-primary);
}

/* Efecto de hover para los enlaces */
body.light-mode .navbar .navbar-nav .nav-link:hover {
  color: #0056b3; /* Enlaces oscuros al pasar el ratón */
}

body.dark-mode .navbar .navbar-nav .nav-link:hover {
  color: #ced4da; /* Enlaces claros al pasar el ratón */
}

/* Botón de modo oscuro */
#toggle-theme {
  border: none;
  cursor: pointer;
}

#language-select {
  margin-left: 10px;
}

/* Iconos y botones */
a {
  text-decoration: none;
}

/* Estilos de los iconos de redes sociales */
.social-icons a {
  font-size: 1.4rem;
  transition: transform 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Modo claro (por defecto) */
@media (prefers-color-scheme: light) {
  .social-icons a:hover {
    color: var(--bs-primary);
  }
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  .social-icons a:hover {
    color: #f8f9fa; /* color claro sobre fondo oscuro */
  }
}

/* Estilos de los íconos */
.text-dark {
  color: #333; /* Color oscuro para íconos en modo claro */
}

.text-dark:hover {
  color: #0056b3; /* Cambio de color al pasar el ratón */
}

.text-primary {
  color: #0a66c2; /* Color de los íconos de LinkedIn */
}

.text-primary:hover {
  color: #004182; /* Cambio de color al pasar el ratón */
}

/* Secciones */
section {
  padding: 40px 0;
}

/* Proyectos */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

li {
  background: rgba(0, 0, 0, 0.05);
  padding: 15px;
  border-radius: 8px;
  transition: background 0.3s;
}

.light-mode li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.dark-mode li:hover {
  background: rgba(255, 255, 255, 0.2);
}

#navbar {
  position: sticky;
  top: 0;
}

footer {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

#personal-photo {
  height: 400px;
  width: 300px;
}
